lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules/
public/lib

.nodemonignore

*.swo
*.swp
*~

*.css
!bootstap.min.css

prod.min.js
zepto.min.js
public/js/angular-socket-io.js
volatile-config.js
