extends base

block page_title 
  title Talkie - درباره

block bottom  
  .row.white
    .col-md-8.col-md-offset-2
      p.titr Talkie چیست؟
      p حتما شما هم دوست دارید با افراد جدید آشنا شوید و با آن ها درباره ی مسایل گوناگون بحث کنید! 
      p Talkie به صورت کاملا تصادفی به شما افراد جدیدی را به شما معرفی می کند تا
        بتوانید با آن ها چت کنید.
  .row.white
    .col-md-8.col-md-offset-2
      img.img-responsive.image(src="/img/hand.png", align="middle", alt="hand")

  .row.blue
    br
    br
    .col-md-2
    .col-md-3

      img.img-responsive.image(src="/img/speed.png", align="middle",style="margin-left: auto; margin-right: auto" alt="talkie")
      br
      p.titr سرعت بالا
      p(style="text-align:center") به دلیل استفاده از تکنولوژی های جدید در طراحی، این سیستم از سرعت بسیار بالایی برخوردار است.
      br
      br
    .col-md-3.col-md-offset-1
      br
      img.img-responsive.image(src="/img/mobile.png", align="middle", alt="talkie")
      p.titr طراحی زیبا 
      p این وبسایت از رابط کاربری زیبا، سریع، پاسخگو و سازگار با مرورگرهای موبایل برخوردار است.
      br
      br
      br

  .row.white
    br
    br
    .col-md-6.col-md-offset-3
      p.titr مرورگر های پیشنهادی
      p جهت مشاهده بهتر سایت مرورگر های زیر را پیشنهاد می کنیم. برای دانلود هر مرورگر روی تصویر آن کلیک کنید!
  .row.white
    .col-md-3.col-md-offset-3
      img.img-responsive.image(src="/img/chrome.png", align="middle", alt="chrome")
    .col-md-3
      img.img-responsive.image(src="/img/firefox.png", align="middle", alt="firefox")
  .row.white
    .col-md-3.col-md-offset-3
      img.img-responsive.image(src="/img/safari.png", align="middle", alt="safari")
    .col-md-3
      img.img-responsive.image(src="/img/opera.png", align="middle", alt="opera")
  br
  br
  .row.blue
    p.titr تماس
    p جهت  تماس با ما به آدرس زیر ایمیل بزنید! لطفا انتقادات و پیشنهادات خود را به ما بگویید.
    p.titr info@talkie.ir
  //-   .col-md-8.col-md-offset-2
  //-       //- .row 
  //-       //-   .col-md-8
  //-       //-     dsfsd سریع
  //-       //-   .col-md-4
  //-       //-     img.img-responsive(src="/img/hand.png", align="middle", alt="talkie")

  //-       .row
  //-         .col-md-8.col-md-offset-2
  //-           .row 
  //-             .col-md-8
  //-               dsfsd سریع
  //-             .col-md-4
  //-               img.img-responsive(src="/img/speed.png", align="middle", alt="talkie")

  //-       .row
  //-         .col-md-8.col-md-offset-2
  //-           .row 
  //-             .col-md-8
  //-               dsfsd سریع
  //-             .col-md-4
  //-               img.img-responsive(src="/img/graphic.png", align="middle", alt="talkie")

      
  //-       .row
  //-         .col-md-8.col-md-offset-2
  //-           .row 
  //-             .col-md-8
  //-               dsfsd سریع
  //-             .col-md-4
  //-               img.img-responsive(src="/img/mobile.png", align="middle", alt="talkie")

  //-           .row

  //- .row
  //-   .col-md-6(style="background: red")
  //-     p sdfdsf
  //-   .col-md-6(style="background: green")
  //-     p sdr