extends base

block page_title 
  title هورین - درباره

block append css
  link(rel='stylesheet', type='text/css', href='/css/about.css')

block bottom  

  .row.white
    .col-md-8.col-md-offset-2
      br
      br
      p.titr هورین چیست؟
      p حتما شما هم دوست دارید با افراد جدید آشنا شوید و با آن ها درباره ی مسایل گوناگون بحث کنید! 
      p هورین به صورت کاملا تصادفی به شما افراد جدیدی را به شما معرفی می کند تا
        بتوانید با آن ها چت کنید.
      p فکر می کنید در سوی دیگر چت، چه کسی منتظر صحبت با شماست؟!
  .row.white
    .col-md-8.col-md-offset-2
      img.img-responsive.image(src="/img/telephoncups.jpg", alt="ایجاد ارتباط")
  .row.white
    .col-md-8.col-md-offset-2
      p.text-info هم اکنون قدم به دنیای ناشناخته ها بگذار!
  .row.white
    .col-md-4.col-md-offset-4
      a.btn.btn-default.btn-lg.btn-block(href='/auth') این را بزن و وارد چت شو
      p.text-muted
        small
          جهت کسب اطلاعات بیشتر برو پایین تر!
      br


  .row.blue
    .col-md-3.col-md-offset-2

      img.img-responsive.image(src="/img/speed.png", alt="سرعت بالای چت")
      br
      br
      p.titr سُرْعَت بالا
      p(style="text-align:center") به دلیل استفاده از تکنولوژی های جدید در طراحی و برنامه نویسی، این سیستم از سرعت بسیار بالایی برخوردار است.
      br
      br
    .col-md-3.col-md-offset-1
      br
      br
      img.img-responsive.image(src="/img/mobile.png", alt="طراحی زیبای چت روم")
      p.titr طَرّاحی زیبا 
      p این وبسایت از رابط کاربری زیبا، سریع، پاسخگو و سازگار با مرورگرهای موبایل برخوردار است.
      br
      br
      br


  .row.white
    .col-md-6.col-md-offset-3
      p.titr مرورگر های پیشنهادی
      p جهت مشاهده بهتر سایت مرورگر های زیر را پیشنهاد می کنیم. برای دانلود هر مرورگر روی تصویر آن کلیک کنید!
      p.text-muted در صورت استفاده از مرورگر IE لطفا از نسخه ۱۰ یا بالاتر استفاده کنید.
  .row.white
    .col-md-3.col-md-offset-3
      a(href="https://www.google.com/intl/en/chrome/browser/", target="_blanck")
        img.img-responsive.image(src="/img/chrome.png", alt="chrome - کروم")
    .col-md-3
      a(href="http://www.mozilla.org/en-US/firefox/new/", target="_blanck")
        img.img-responsive.image(src="/img/firefox.png", alt="firefox - فایرفاکس")
  .row.white
    .col-md-3.col-md-offset-3
      a(href="http://support.apple.com/downloads/#safari", target="_blanck")
        img.img-responsive.image(src="/img/safari.png", alt="safari - سافاری")
      br
    .col-md-3
      a(href="http://www.opera.com/computer/windows", target="_blanck")
        img.img-responsive.image(src="/img/opera.png", alt="opera - اپرا")
      br
  .row.white
    .col-md-4.col-md-offset-4
      a.btn.btn-primary.btn-lg.btn-block(href='/auth') ورود به چت
      br
      small
        ul.list-inline.pull-right
          li 
            a(href="/about#contact") 
              برای تبادل لینک یا تبلیغ تماس بگیرید!
          li
            در مورد  
            a(href="http://kargaheweb.com/blogminer/", target="_blank")
              انتقال وبلاگ به سایت 
            بخوانید!
      br
  .row.blue
    .col-md-4.col-md-offset-4
      p#contact.titr تماس
      p جهت  تماس با ما به آدرس زیر ایمیل بزنید! لطفا انتقادات و پیشنهادات خود را به ما بگویید.
      p info@horin.ir


