extends base

block page_title 
  title هورین - درباره

block append css
  link(rel='stylesheet', type='text/css', href='/static/css/about.css')

block bottom
  .row.white
    .col-md-8.col-md-offset-2
      br
      br
      h1#about هورین چیست؟
      p حتما شما هم دوست دارید با افراد جدید آشنا شوید و با آن‌ها درباره‌ی موضوعات مورد علاقه‌یتان بحث کنید! 
      p هورین براساس علاقه‌مندی‌های مشترک شما و به شکل تصادفی افراد جدیدی را به شما معرفی می‌کند تا
        بتوانید با آن‌ها پیرامون موضوعات مشترک موردعلاقه‌یتان بحث کنید.
      p فکر می کنید در سوی دیگر چت، چه کسی منتظر صحبت با شماست؟! با افراد جدید آشنا شوید!

  .row.white
    .col-md-8.col-md-offset-2
      img.img-responsive.image(src="/static/img/telephoncups.jpg", alt="ایجاد ارتباط")
  .row.white
    .col-md-4.col-md-offset-4
      a.btn.btn-default.btn-lg.btn-block(href='/auth') این را بزن و وارد چت شو
      p.text-muted
        small
          جهت کسب اطلاعات بیشتر برو پایین تر!
      br


  .row.blue
    .col-md-3.col-md-offset-2

      img.img-responsive.image(src="/static/img/speed.png", alt="سرعت بالای چت")
      br
      br
      br
      br
      h2 سُرْعَت بالا
      p.
        سرعت! سرعت! سرعت!
      p.
        سرعت از همه چیز مهم‌تر است! به دلیل استفاده از بروز‌ترین تکنولوژی‌های 
        برنامه‌نویسی و طراحی، هورین، سرعت بسیار بالایی دارد.
      br
      br
    .col-md-3.col-md-offset-1
      br
      img.img-responsive.image(src="/static/img/mobile.png", alt="طراحی زیبای چت روم")
      br
      br
      br
      h2 طَرّاحی زیبا 
      p.
        ساده، زیباتر از پیچیده است!
      p.
        ما در طراحی هورین همواره این اصل را به یاد داشته‌ایم! 
        این وب‌سایت از یک رابط کاربری زیبا، سریع، پاسخگو و سازگار با مرورگرهای موبایل برخوردار است.
      br
      br
      br
  .row.white
    .col-md-6.col-md-offset-3
      br#FAQs
      img.img-responsive.image(src="/static/img/faq.png", alt="سوالات متداول")
      h1 سُوالاتِ مُتَداوِل
      h4.text-info
        هورین یه چت‌رومه؟ چت تصادفی چیه؟ چطوری میشه باهاش چت کرد؟
      p
        هورین یک سیستم گفتگوی تصادفی تک‌به‌تک(خصوصی) است! یعنی این که سایت بعد از ورود شما، یک نفر را به صورت کاملا تصادفی
        برای چت به شما معرفی می‌کنه. شما بعد از صحبت با این فرد، درصورتی که تمایل به ادامه‌ی صحبت با او را نداشتید 
        می‌تونید روی دکمه آبی رنگ 
        b "گفتگو با نفر بعد" 
        کلیک کنید تا سایت شخص دیگری را برای چت با شما انتخاب کند. در صورتی که 
        شخص مقابل زودتر از شما دکمه گفتگو با نفر بعد را بزند و یا از چت خارج شود شما پیغام 
        b "نفر مقابل گفتگو را ترک کرد" 
        را مشاهده می‌کنید!


      h4.text-info.
        چه عواملی بر روی انتخاب فرد ناشناس برای چت با من تاثیر داره؟
      p.
        انتخاب فرد ناشناس به صورت تصادفی است. ما سعی می کنیم که افرادی را برای چت با شما انتخاب کنیم
        که بیشترین شباهت را از نظر موضوعات مورد علاقه با شما دارند.


      h4.text-info.
        چطوری می‌تونم عکس خودم رو عوض کنم؟
      p
        ما تصویر شما را از سایت
        small gravatar 
        می‌گیریم. 
        small gravatar 
        سایتی‌است که بسیاری از سایت های مختلف که امکان عضویت دارند،‌ تصویر آواتار اعضای خود را از آن می‌گیرند. اگر تاکنون در این سایت عضو نشده‌اید، 
        خیلی ساده می توانید با کلیک روی 
        
        a(href="http://en.gravatar.com", target="_blank") این لینک 
  
        و زدن دکمه‌ی Create your own Gravatar در این سایت 
        عضو شوید و یک آواتار(تصویر) به ایمیل خود تخصیص بدهید. بعد از تخصیص عکس به ایمیل خود، اگر با همین ایمیل خود، در هر سایتی که عکس‌های آواتار را از 
        small gravatar 
        می‌گیرد عضو شوید،‌ این تصویر 
        برای حساب کاربری شما نمایش داده می‌شود.


      h4.text-info.
        با شخصی افتاده ام که رعایت ادب و قوانین رو نمی کنه! چی کار کنم؟
      p
        وقتی که دارید با یک شخص گفتگو می‌کنید، دکمه قرمز رنگ 
        b "گزارش" 
        را مشاهده می‌کنید. اگر در هنگام چت به 
        چنین فردی که گفتید برخورد کردید، دکمه گزارش رو بزنید. اگر اون شخص زود‌تر از شما هم گفتگو رو ترک کرد می‌تونید از 
        این دکمه استفاده کنید و به چت با شخص دیگری بپردازید. اگر یک شخص، توسط چندین فرد گزارش شود ما او را از سایت 
        اخراج می‌کنیم!


      h4.text-info.
        وقتی می‌خواهم وارد سایت بشم، صفحه ای رو می‌بینم که تو اون نوشته شما اخراج شده اید. علتش چیه؟
      p
        لطفا یک بار 
        a(href="/rules", target="_blank") قوانین 
        هورین را بخوانید!
        حتما وقتی که قبلا چت می‌کردید، چندین نفر شما را گزارش کرده‌اند. تا پایان زمان محرومیت شما نمی‌توانید چت کنید کنید! اگر فکر می‌کنید که اشتباهی رخ داده است و شما به غلط گزارش شده‌اید، با ما 
        a(href="/about#contact") تماس 
        بگیرید!

      br
      br


  .row.blue
    .col-md-4.col-md-offset-4
      br
      img.img-responsive.image(src="/static/img/blog.png", alt="بلاگ هورین")
      h1#blog بِلاگ هورین
      p(style="text-align: center").
        هورین همیشه در حال تغییر و توسعه است! ما سعی می‌کنیم که امکانات هورین را 
        افزایش دهیم و چت با آن را برای شما لذت بخش‌تر کنیم. اگر دوست دارید بدانید که جدیدا چه امکاناتی اضافه 
        شده است یا ما در حال کار بر روی چه چیز‌هایی هستیم بلاگ هورین را بخوانید و نظر خودتان را درباره‌ی آن‌ها بگویید!
      br
      a.btn.btn-default.btn-lg.btn-block(href='http://blog.horin.ir', target="_blank") بلاگ را بخوانید!
      br
      br


  .row.white
    .col-md-6.col-md-offset-3
      br
      br
      br
      h1#browsers مُرورگر‌های پیشنهادی
      p برای استفاده‌‌ی بهتر و داشتن سرعت بالاتر در هورین، حتما از یک مرورگر به‌روز‌شده استفاده کنید! ما مرورگر‌های زیر را پیشنهاد می‌کنیم. برای دانلود هر مرورگر روی تصویر آن کلیک کنید!
      p.text-muted در صورت استفاده از مرورگر IE لطفا از نسخه ۱۰ یا بالاتر استفاده کنید.
  .row.white
    .col-md-3.col-md-offset-3
      a(href="https://www.google.com/intl/en/chrome/browser/", target="_blanck")
        img.img-responsive.image(src="/static/img/chrome.png", alt="chrome - کروم")
    .col-md-3
      a(href="http://www.mozilla.org/en-US/firefox/new/", target="_blanck")
        img.img-responsive.image(src="/static/img/firefox.png", alt="firefox - فایرفاکس")
  .row.white
    .col-md-3.col-md-offset-3
      a(href="http://support.apple.com/downloads/#safari", target="_blanck")
        img.img-responsive.image(src="/static/img/safari.png", alt="safari - سافاری")
      br
    .col-md-3
      a(href="http://www.opera.com/computer/windows", target="_blanck")
        img.img-responsive.image(src="/static/img/opera.png", alt="opera - اپرا")
      br
  .row.white
    p.text-muted می‌خواهید بدانید که مرورگری که دارید مرورگر مناسبی است یا خیر؟ 
      br 
      برای بررسی وضعیت پشتیبانی مرورگر خود 
      a(href="http://websocketstest.com/", target="_blanck") اینجا 
      کلیک کنید.
      br
      اگر جمله‌ی 
      small Work for you 
      را دیدید مرورگر شما مناسب است!

    .col-md-4.col-md-offset-4
      a.btn.btn-primary.btn-lg.btn-block(href='/auth') ورود به چت
      br
      br    
  .row.blue
    .col-md-4.col-md-offset-4
      br
      h1#contact تَماس
      p جهت  تماس با ما به آدرس زیر ایمیل بزنید! لطفا انتقادات و پیشنهادات خود را به ما بگویید.
      p horin.ir@gmail.com
  .row.blue
    .socials
      a(href="https://www.facebook.com/horin.ir", target="_blank")
        img(src="/static/img/facebook.png", alt="هورین در فیس‌بوک")
      a(href="http://twitter.com/horinir", target="_blank")
        img(src="/static/img/twitter.png", alt="هورین در توییتر")