doctype 5
html(lang='fa')
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    meta(name='keywords', lang='en', content='Talkie,Talkie Chat, Random Chat')
    meta(name='keywords', lang='fa', content='Talkie,Talkie Chat,چت, چت رندم, چت ناشناس', charset='utf-8')
    meta(name='description', content='وبسایت چت تصادفی', charset='utf-8')
    meta(name='subject', content="your website's subject");


    base(href='/')
    block page-title
      title Talkie
    block css
      link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='/css/font.css')
  body(dir='rtl')
    .index-ctrl(ng-controller='IndexCtrl')
      .container

        .row
          .col-md-4.col-md-offset-4
            a(href='/')
              img.img-responsive.image(src="/img/logo.png", align="middle", alt="talkie")
        block body

        block bottom-js
          include bottom-js.jade
      block bottom

