doctype 5
html(lang='fa')
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    meta(name='keywords', lang='en', content='Horin,Horin Chat, Random Chat')
    meta(name='keywords', lang='fa', content='هورین,هورین چت,چت, چت رندم,چت تصادفی, چت ناشناس', charset='utf-8')
    meta(name='description', content='وبسایت چت تصادفی', charset='utf-8')
    meta(name='subject', content="با افراد جدید، در مورد موضوعات مختلف چت کن!");


    base(href='/')
    block page-title
      title هورین
    block css
      link(rel='stylesheet', type='text/css', href='/static/css/bootstrap.min.css')
  body(dir='rtl')
    .index-ctrl(ng-controller='IndexCtrl')
      .container
        .row
          .col-md-4.col-md-offset-4
            a(href='/')
              img.img-responsive.image(src="/static/img/logo.png", alt="horin-هورین")
        block body

    block bottom-js
      //- Piwik
      //-
        script(type="text/javascript").
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.horin.ir//";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        noscript.
          p
            img(src="http://piwik.horin.ir/piwik.php?idsite=1", style="border:0", alt="")
      //- End Piwik Code

      //- include bottom-js.jade
  .row.fill(style="margin-left: 15px; margin-right: 15px;")
    block bottom

