if development
  script(src='/static/lib/angular/angular.js')
  script(src='/static/lib/angular-socket-io/socket.js')
  script(src='/static/js/app.js')
  script(src='/static/js/services.js')
  script(src='/static/js/controllers.js')
  script(src='/static/js/filters.js')
  script(src='/static/js/directives.js')
else
  script(src='/static/lib/angular/angular.min.js')
  script(src='/static/js/prod.min.js')

<!-- Piwik -->
<script type="text/javascript"> 
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.horin.ir//";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

</script>
<noscript><p><img src="http://piwik.horin.ir/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Code -->

