extends layout

block append css
  link(rel='stylesheet', type='text/css', href='/css/chat.css')
block body
  #main(data-ng-controller='ChatCtrl')
    .container.fill(data-ng-init='init();')
      .loading(data-ng-show='loading.enable', style='display: none;')
        .row 
          .col-md-2.col-md-offset-5
            .spinner.image
        .row
          .col-md-4.col-md-offset-4
            p.text-muted شکیبا باشید!
            p.titr در حال یافتن فردی ناشناس هستیم!
            //- img(src='img/sync.png')
            //- span.glyphicon.glyphicon-remove(data-ng-click='loading.trigger()')

      .row.fill
        .col-md-12.fill
          .row.fill
            .col-md-3.actions
              a(data-ng-click='findStranger()' href='#')
                .action
                  بعدی
              a(data-ng-href='/exit')
                .action
                  خروج
            .col-md-9.chat-box(data-ng-controller='MsgController')
              .row.messages(data-scroll-btm)
                .col-md-12(ng-repeat='msg in msg.msgs')
                  .message
                    .author(ng-class='{me: msg.from == "me", stranger: msg.from != "me"}')
                      | {{ msg.from }}
                    .text
                      pre.
                        {{ msg.text }}
                .stranger-typing(data-ng-show='strangerTyping')
                  در حال نوشتن
              .row.fill.input
                .col-md-2.fill
                  button.btn.btn-info.btn-disabled(data-ng-click='sendMsg()', data-ng-disabled='loading.enable') بفرست
                .col-md-10.fill
                  textarea.form-control(data-ng-model='msg.curMsg',
                    data-ng-disabled='loading.enable',
                    data-ret-pressed='sendMsg();', data-ng-change='typing()',
                    data-get-focus='!loading.enable'
                  )
    div.notif(data-ng-show='notif.show', style='display: none;')
      span.glyphicon.glyphicon-remove(data-ng-click='notif.clear()')
      p {{ notif.msg }}

block prepend bottom-js
  script(src='/socket.io/socket.io.js')

