doctype 5
html.fill(ng-app='talkie', lang='fa')
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    base(href='/')
    title(ng-bind='title.title') هورین
    script(src='/socket.io/socket.io.js')
    block css
      link(rel='stylesheet', type='text/css', href='/static/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='/static/css/chat.css')
      link(rel='stylesheet', type='text/css', href='/static/lib/alertify.js/themes/alertify.core.css')
      link(rel='stylesheet', type='text/css', href='/static/lib/alertify.js/themes/alertify.default.css')
  body.fill(dir='rtl', data-ng-controller='ChatCtrl')
    include top-nav.jade

    .row.fill(style="margin-left: 0; margin-right: 0;", data-ng-controller='MsgCtrl')
      // col-sm-2 is in friends.jade
      include friends.jade
      .col-sm-8(style=" height: 100%")
        .row.messages-row
          .messages(data-scroll-btm)
            pre.message(ng-repeat='msg in msg.msgs', ng-class='msg.from', ng-bind='msg.text')


      .col-sm-2
        br
        br
        br

        .row
          include right-menu.jade
        .row
          .col-xs-12
            button.btn.btn-danger.btn-lg.btn-block(type='button', data-ng-show='!stranger.name',
              data-ng-click='report()', data-ng-disabled='reported') گزارش نفر قبل
            button.btn.btn-primary.btn-lg.btn-block(type="button", data-ng-click='findStranger()') گفتگو با نفر بعد
            p نسخه‌ی آزمایشی! در صورت مشاهده‌ی ایراد با ما 
              a(href="/about#contact", target="_blank") تماس 
              بگیرید.
      include send-box.jade  
      include loading.jade

  include bottom-js.jade
