doctype 5
html.fill(ng-app='talkie', lang='fa')
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    base(href='/')
    title(ng-bind='title.title') هورین
    script(src='/socket.io/socket.io.js')
    block css
      link(rel='stylesheet', type='text/css', href='/static/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='/static/css/chat.css')
  body.fill(dir='rtl', data-ng-controller='ChatCtrl')
    include top-nav.jade

    .row.fill(style="margin-left: 0; margin-right: 0;", data-ng-controller='MsgCtrl')
      .col-sm-2.contact
        p salam
      .col-sm-8(style=" height: 100%")
        br
        br
        br
        .row.messages-row
          .messages(data-scroll-btm)
            pre.message(ng-repeat='msg in msg.msgs', ng-class='msg.from', ng-bind='msg.text')

      .col-sm-2
        br
        br
        br
        .row
          .col-xs-12(data-ng-show='stranger.username')
            .thumbnail
              img(src="/static/img/virgin/anon1.jpg", alt="")
              .caption
                h3(style="text-align: center", data-ng-bind="stranger.username")
              p.text-muted(data-ng-show='stranger.commonTopics')
                b علاقه‌مند به: 
              p.text-muted(data-ng-repeat='topic in stranger.commonTopics')
                {{ topic }}
              p.text-muted(data-ng-show='stranger.otherTopics')
                b مشترک با شما در:
              p.text-muted(data-ng-repeat='stranger.otherTopics')
              
              button.btn.btn-sm.btn-danger(type="button", data-ng-click='report()', data-ng-disabled="reported") گزارش
        .row
          .col-xs-12
            button.btn.btn-primary.btn-lg.btn-block(type="button", data-ng-click='findStranger()') گفتگو با نفر بعد
            p نسخه‌ی آزمایشی! در صورت مشاهده‌ی ایراد با ما 
              a(href="/about#contact", target="_blank") تماس 
              بگیرید.
      include send-box.jade  
      include loading.jade

  include bottom-js.jade