extends layout

block append css
  link(rel='stylesheet', type='text/css', href='/css/chat.css')
block body
  #main(data-ng-controller='ChatCtrl')
    .container.fill(data-ng-init='init();')
      .loading(data-ng-show='loading.enable', style='display: none;')
        h3 در حال پیدا کردن یک غریبه‌ایم!
        img(src='img/sync.png')
        span.glyphicon.glyphicon-remove(data-ng-click='loading.trigger()')
      .row.fill
        .col-md-12.fill
          .row.fill
            .col-md-3.actions
              a(href='/next')
                .action
                  بعدی
              a(href='/exit')
                .action
                  خروج
            .col-md-9.chat-box(data-ng-controller='MsgController')
              .row.messages
                .col-md-12(ng-repeat='msg in msgs')
                  .message
                    .author(ng-class='{me: msg.from == "me", stranger: msg.from != "me"}')
                      | {{ msg.from }}
                    .text
                      pre.
                        {{ msg.text }}
              .row.fill.input
                .col-md-2.fill
                  button.btn.btn-info.btn-disabled(data-ng-click='sendMsg()', data-ng-disabled='loading.enable') بفرست
                .col-md-10.fill
                  textarea.form-control(data-ng-model='curMsg', data-ng-disabled='loading.enable',
                                        data-ret-pressed='sendMsg();')
    div.notif(data-ng-show='notif.show', style='display: none;')
      span.glyphicon.glyphicon-remove(data-ng-click='notif.clear()')
      p {{ notif.msg }}
