.row
  .col-md-4.col-md-offset-4
    p نمی‌دانید چت تصادفی چیست؟! از  
      a(href="/about")
        اینجا 
      درباره‌ی هورین بخوانید!
    hr
    ul.list-inline.pull-right
      li 
        a(href="http://blog.horin.ir", target="_blank")
          small بلاگ&nbsp
      |
      li 
        a(href="/rules")
          small قوانین&nbsp
      |
      li
        a(href="/about#contact")
          small تماس&nbsp
      |
      li
        a(href="/about#FAQs")
          small سوالات متداول&nbsp
      |
      li
        a(href="/about")
          small درباره‌ی هورین