!!! 5
html
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    meta(name='keywords', lang='en', content='Horin,Horin Chat, Random Chat')
    meta(name='keywords', lang='fa', content='هورین,هورین چت,چت, چت رندم,چت تصادفی, چت ناشناس', charset='utf-8')
    meta(name='description', content='وبسایت چت تصادفی', charset='utf-8')
    meta(name='subject', content="با افراد جدید، در مورد موضوعات مختلف چت کن!");
    meta(http-equiv='content-type', con='con', tent='text/html; charset=utf-8') 
    link#topcoat-css(rel='stylesheet', href='/static/lib/topcoat/css/topcoat-mobile-dark.min.css', type='text/css', media='all')
    link#home-css(rel='stylesheet', href='/static/css/login.css', type='text/css', media='all')
    title هورین
    script(type='text/javascript')
      function goTop(esender){
         var temp='';
        if(esender=='signUp'){
          temp+='<input id="signup-first-name" type="text" placeholder="نام" dir="rtl" class="topcoat-text-input inputs"/>'
          temp+='<input id="signup-last-name" type="text" placeholder="نام خانوادگی" dir="rtl" class="topcoat-text-input inputs"/>'
          temp+='<label id="signup-male" dir="rtl" class="topcoat-radio-button inputs">'
          temp+='<input name="sex" id="signup-male-radio" type="radio"/>'
          temp+='<div class="topcoat-radio-button__checkmark"></div>  مرد  '
          temp+='</label>'
          temp+='<label id="signup-female" dir="rtl" class="topcoat-radio-button inputs">'
          temp+='<input name="sex" id="signup-female-radio" type="radio"/>'
          temp+='<div class="topcoat-radio-button__checkmark"></div>  زن  '
          temp+='</label>'
          temp+='<input id="signup-email" type="email" placeholder="ایمیل" dir="rtl" class="topcoat-text-input inputs"/>'
          temp+='<input id="signup-password" type="password" placeholder="رمز عبور" dir="rtl" class="topcoat-text-input inputs"/>'
          temp+='<input id="signup-password-confirm" type="password" placeholder="رمز عبور خود را دوباره بنویسید" dir="rtl" class="topcoat-text-input inputs"/>'
          temp+='<button id="signup-submit" type="submit" class="topcoat-button--cta inputs"> ثبت</button>'

        }
        else{
          temp+='<input id="login-user-email" type="email" placeholder="ایمیل" dir="rtl" class="topcoat-text-input"/>'
          temp+='<input id="login-password" type="password" placeholder="رمز عبور" dir="rtl" class="topcoat-text-input"/>'
          temp+='<button id="login-login" type="submit" class="topcoat-button--cta"> ورود</button>'
          temp+='<button id="login-forget-password" type="submit" dir="rtl" align="right" class="topcoat-button--cta"> رمز عبور خود رو فراموش کرده ام!</button>'
        }
        document.getElementById('login-field').innerHTML=temp;

        if(esender=='signUp'){
        }
        else
        {
        }
        feetScreen();
        $('#login-nav').animate({'top':'-100%'},300);
      }
      function goBottom()
      {
        $('#login-nav').animate({'top':'0%'},300);
      }
  body#bd(style="margin:0px")
    #header
      #header-logo-box
        img#header-logo.responsive_Image(src="/static/img/logo.png")
      #header-text(align:right)
        | هورین
    #main
      #login-plate
        #login-nav
          #main-login
            #login-des
              span#login-des-text.middle-text(dir="rtl")
                | ورود با استفاده از :
            #login-option-plate
              #google-box.conn
                #google-image-box.login-item-image-box
                  img#google-image.login-item-image.responsive_Image.middle-image(src="/static/img/googleW.png")
                span#google-text.login-item-text.middle-text(align="left")
                  | گوگل      
              #facebook-box.conn
                #facebook-image-box.login-item-image-box
                  img#facebook-image.login-item-image.responsive_Image.middle-image(src="/static/img/facebookW.png")
                span#facebook-text.login-item-text.middle-text(align="right",style="right:3%,left:auto;")
                  | فیسبوک      
              #twitter-box.conn
                #twitter-image-box.login-item-image-box
                  img#twitter-image.login-item-image.responsive_Image.middle-image(src="/static/img/twitterW.png")
                span#twitter-text.login-item-text.middle-text(align="left")
                  | توییتر
              #email-box.conn
                #email-image-box.login-item-image-box
                  img#email-image.login-item-image.responsive_Image.middle-image(src="/static/img/emailW.png")
                span#email-text.login-item-text.middle-text(align="right")
                  | ایمیل

            #signup-button.conn
              span#signup-button-text.middle-text
                | ثبت نام
          #footer-login
            #back-button-box.conn
              span#back-button-text.middle-text(align="center") 
                | بازگشت
            #login-field


      span#big-title(align="right",dir="rtl")
        | دوستای جدید پیدا کن!
    #footer
      span#navigation-box
          a.navigation-text(href='http://blog.horin.ir', target='_blank')
            | بلاگ
          span.navigation-text
            | |
          a.navigation-text(href='/rules')
            | قوانین 
          span.navigation-text
            | |
          a.navigation-text(href='/about#contact')
            | تماس
          span.navigation-text
            | |
          a.navigation-text(href='/about#FAQs')
            | سوالات متداول
          span.navigation-text
            | |
          a.navigation-text(href='/about')
            | درباره هورین
      span#copyright(dir='rtl', align='right')
        | تمام حقوق این سایت متعلق به هورین میباشد. 
block append bottom-js

  script(src='/static/lib/alertify.js/lib/alertify.min.js')  
  script(src='/static/lib/zepto/zepto.min.js')
  script(type='text/javascript')
    function feetScreen()
    {
      if($('#bd').width()/$('#bd').height()<(14/9) && !($('#bd').height()>$('#bd').width()))
      {
        $('#login-plate').css({'height':'90%','width':'50%','left':'5%','top':'5%'});
        $('#big-title').css({'height':'20%','width':'40%','right':'2%','top':'15%','font-size':'1.7em','text-align':'right'});
        $('#header-logo-box').css({'height':'80%','width':'15%','right':'0%','bottom':'10%'});
        $('#header-text').css({'height':'20%','width':'30%','right':'15%','bottom':'15%'});
        for(var i=0;i<document.getElementsByClassName('login-item-text').length;i++)
        {
          var slf='#'+document.getElementsByClassName('login-item-text')[i].getAttribute('id');
          $(slf).css({'font-size':'1.5em'});
        }
        for(var i=0;i<document.getElementsByClassName('inputs').length;i++)
        {
          var slf='#'+document.getElementsByClassName('inputs')[i].getAttribute('id');
          $(slf).css({'font-size':'0.7em'});
        }
        $('#login-des-text').css({'font-size':'1.5em'});
        $('#signup-button-text').css({'font-size':'1.5em'});
        $('#copyright').css({'height':'30%','width':'90%','right':'5%','bottom':'10%','text-align':'center'});
        $('#navigation-box').css({'height':'30%','width':'90%','left':'5%','top':'10%','text-align':'center'});
        $('#back-button-text').css({'font-size':'1em'});
        $('#login-user-email').css({'top':'15%','height':'15%'});
        $('#login-password').css({'top':'40%','height':'15%'});
        $('#login-login').css({'top':'60%','height':'15%'});
        $('#login-forget-password').css({'top':'60%','height':'15%','font-size':'0.6em','text-align':'center'});
      }

      else if($('#bd').height()>$('#bd').width())
      {
        $('#login-plate').css({'height':'70%','width':'80%','left':'10%','top':'25%'});
        $('#big-title').css({'height':'20%','width':'80%','left':'10%','top':'5%','font-size':'2em','text-align':'center'});
        $('#header-logo-box').css({'height':'80%','width':'30%','right':'0%','bottom':'10%'});
        $('#header-text').css({'height':'20%','width':'30%','right':'30%','bottom':'15%'});
        for(var i=0;i<document.getElementsByClassName('login-item-text').length;i++)
        {
          var slf='#'+document.getElementsByClassName('login-item-text')[i].getAttribute('id');
          $(slf).css({'font-size':'1.2em'});
        }
        for(var i=0;i<document.getElementsByClassName('inputs').length;i++)
        {
          var slf='#'+document.getElementsByClassName('inputs')[i].getAttribute('id');
          $(slf).css({'font-size':'0.7em'});
        }
        $('#login-des-text').css({'font-size':'1.5em'});
        $('#signup-button-text').css({'font-size':'1.5em'});
        $('#copyright').css({'height':'30%','width':'90%','right':'5%','bottom':'10%','text-align':'center'});
        $('#navigation-box').css({'height':'30%','width':'90%','left':'5%','top':'10%','text-align':'center'});
        $('#back-button-text').css({'font-size':'1em'});
        $('#login-user-email').css({'top':'15%','height':'15%'});
        $('#login-password').css({'top':'40%','height':'15%'});
        $('#login-login').css({'top':'60%','height':'15%'});
        $('#login-forget-password').css({'top':'60%','height':'15%','font-size':'0.5em','text-align':'center'});
      }
    }
    feetScreen();
    for(var i=0;i<document.getElementsByClassName('responsive_Image').length;i++)
    {
      var slf='#'+document.getElementsByClassName('responsive_Image')[i].getAttribute('id');
      var prnt='#'+$(slf).parent().attr('id');
      if($(prnt).height()<$(prnt).width())
      {
        $(slf).css({'height':'100%','width':'auto','top':'0%'});
        $(slf).css({'left':((($(prnt).width()-$(prnt).height())*100/(2*$(prnt).width())).toString()+'%')});
      }
      else
      {
        $(slf).css({'width':'100%','height':'auto','left':'0%'});
        $(slf).css({'top':'auto','bottom':'0%'});       
      }
    }
    for(var i=0;i<document.getElementsByClassName('middle-image').length;i++)
    {
      var slf='#'+document.getElementsByClassName('middle-image')[i].getAttribute('id');
      var prnt='#'+$(slf).parent().attr('id');
      $(slf).css({'top':((($(prnt).height()-$(prnt).height())*100/(2*$(prnt).height())).toString()+'%')});
    }

    for(var i=0;i<document.getElementsByClassName('middle-text').length;i++)
    {
      var slf='#'+document.getElementsByClassName('middle-text')[i].getAttribute('id');
      var prnt='#'+$(slf).parent().attr('id');
      $(slf).css({'line-height':($(prnt).height().toString()+'px')});       
    }
    $('#back-button-box').click(goBottom);
    $('#signup-button').click(function() { goTop('signUp');  });
    $('#email-box').click(function() { goTop('email');  });
  script(type='text/javascript').
    document.getElementById('login-email').focus();

  script(type='text/javascript').
    function validateSignup(event) {
      var pass = document.getElementById('signup-password');
      var passConfirm = document.getElementById('signup-password-confirm');

      var firstname = document.getElementById('signup-firstname');
      var lastname = document.getElementById('signup-lastname');

      if (pass.value === passConfirm.value) {
        if (firstname.value && lastname.value) {
          var firstMatch = firstname.value.match(/^[\u0600-\u06FF\ \‌]+$/);
          var lastMatch = lastname.value.match(/^[\u0600-\06FF\ \‌]+$/);
          if (firstMatch && lastMatch) {
            return true;
          } else {
            alertify.error(
              'نام و نام خوانوادگی فقط می‌توانند از حروف الفبا تشکیل شده باشند.'
              );
            return false;
          }
        } else {
          alertify.error(
            'نام و نام خوانوادگی فقط می‌توانند از حروف الفبا تشکیل شده باشند.'
            );
          return false;
        }
      } else {
        alertify.error('رمز عبورهای وارد شده با هم تفاوت دارند.');
        return false;
      }
    };
