extends layout

block body
  .index-ctrl(ng-controller='IndexCtrl')
    .container
      .row
        .col-md-3.col-md-offset-4
          .login-form
            legend
              آماده شو برای هیجان
            form(method='post', action='/auth', name='login-form', role='form')
              .form-group
                label.sr-only(for='login-form-full-name')
                input#login-form-full-name.form-control(type='text', name='fullName', placeholder='نام کامل')
              button.btn.btn-primary(type='submit')
                ورود
