extends base

block body
  .row
    .col-md-4.col-md-offset-4
      .login-form
        legend
          برای ورود به چت و یافتن فردی برای چت وارد شوید! 
        form(method='post', action='/auth', name='login-form', role='form')
          .form-group
            label.sr-only(for='login-form-full-name')
            input#login-form-full-name.form-control(type='text', name='fullName', placeholder='نام')
          button.btn.btn-primary.btn-lg.btn-block(type='submit')
            ورود

  .row
    .col-md-4.col-md-offset-4
      small از 
        a(href="/rules")
          اینجا 
        قوانین را بخوانید!
      hr
      small
        ul.list-inline
          li 
            a(href="/about") درباره ی talkie
          li تبلیغات
          li تماس
          li 
            a(href="http://kargaheweb.com/blogminer/" target="_blank")
              انتقال وبلاگ به سایت
