doctype 5
html(ng-app='talkie', lang='fa')
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    base(href='/')
    title(ng-bind='title.title') Talkie
    block css
      link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='/css/app.css')
      link(rel='stylesheet', type='text/css', href='/css/font.css')
  body(dir='rtl')
    block body

    block bottom-js
      include bottom-js.jade
