extends base

block append css
  link(rel='stylesheet', type='text/css', href='/static/css/common.css')

block page_title 
  title هورین - قوانین

block body
  .row
    .col-md-8.col-md-offset-2
      legend 
        p
          قوانین
      کلیه فعالیت‌های هورین بر اساس قوانین جمهوری اسلامی ایران می‌باشد.
      ورود به سایت به منزله پذیرش این قوانین و مسولیت هر‌گونه فعالیت مغایر با 
      آن بر عهده‌ی خود کاربر است.
      br
      br
      ul
        li 
          a(href="http://internet.ir/crime_index.html", target="_blank")
            فهرست مصادیق محتوای مجرمانه
        li 
          a(href="http://internet.ir/law.html", target="_blank")
            قانون جرایم رایانه ای
      br
      //- a.btn.btn-primary.btn-lg.btn-block(href="/auth")
      //-   ورود به چت

      //- hr
  .row
    .col-md-4.col-md-offset-4
      a.btn.btn-primary.btn-lg.btn-block(href='/auth') ورود به چت
      br
      small
        ul.list-inline.pull-right
          li 
            a(href="/about#contact") 
              برای تبادل لینک یا تبلیغ تماس بگیرید!
          li 
            p |
          li
            a(href="/about")
              درباره
      br
