nav.navbar.navbar-default.navbar-fixed-top(role="navigation", style="margin-bottom: 1px;")
  .navbar-header.pull-right
    //- button(type="button", class="navbar-toggle")
    //-   span.sr-only Toggle navigation
    //-   span.icon-bar
    //-   span.icon-bar
    //-   span.icon-bar
    //- بلاگ هورین
    a.navbar-brand.navbar-right(href='#') هورین
    ul.nav.navbar-nav.navbar-right
      li
        a(href="/about", target="_blank") درباره
      li
        a(href="http://blog.horin.ir", target="_blank") بلاگ
  ul.nav.navbar-nav.navbar-left
    li
      img(width="50px", height: "50px",src="/static/img/anon.png")
    li.active
      a= user.username
    li 
      a(href='#') پروفایل
    li
      a(data-ng-href='/exit') خروج