@import "globals.less";
@import "common.less";

body {
  font-family: @main-font-family;
  font-size: @main-font-size;
}

p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0em;
  color: white;
  text-align: center;
}

h1 {  
  font-size: @titr-font-size;
}

h2 {
  font-size: 2em;
}

.blue {
  background: @color-blue;
}

.white {
  background: @color-white;

}

.white h1 {
  color: black;
}

.white h2 {
  color: black;
}