@import "globals.less";
@import "common.less";

body {
  font-family: @main-font-family;
  font-size: @main-font-size;
}

p {
  text-align: center;
}

.titr {
  margin-top: 0em;
  color: white;
  font-size: @titr-font-size;
  text-align: center;
}

.blue {
  background: @color-blue;
}

.white {
  background: @color-white;
}

.white .titr{
  color: black;
}