/* app css stylesheet */

@main-font-family: 'bmitra';
@main-font-size: 1.6em;

body {
  font-family: @main-font-family;
  font-size: @main-font-size;
}

.login-form {
  margin-top: 0em;

  button {
    float: right;
  }
}

.image {
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
}

.titr {
  color: white;
  font-size: 4em;
  text-align: center;
}

.blue {
  background: #5bc0de;



}

.white {
  background: white;
  .titr {
    color: black;
    font-size: 3em;
    text-align: center;
  }
}

.white .titr{
  color: black;
}