/* app css stylesheet */
body {
  font-family: 'bmitra';
  font-size: 1.6em;
}
.login-form {
  margin-top: 0em;
}
.login-form button {
  float: right;
}
.image {
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
}
.titr {
  color: white;
  font-size: 4em;
  text-align: center;
}
.blue {
  background: #5bc0de;
}
.white {
  background: white;
}
.white .titr {
  color: black;
  font-size: 3em;
  text-align: center;
}
.white .titr {
  color: black;
}
