@import "globals.less";

@font-face {
  font-family: 'bmitra';
  src: url('/font/bmitra.eot?#') format('eot'),
  url('/font/bmitra.ttf') format('truetype'),
  url('/font/bmitra.woff') format('woff'),
  url('/font/bmitra.otf') format('opentype');
}

body {
  font-family: @main-font-family;
  font-size: @main-font-size;
}

ul .list-inline{
  li{
    text-align: center;
  }
}

.image {
  margin-left: auto;
  margin-right: auto;
}
