@import "common.less";
span
{
	font-family:bmitra,Arial;
}
body div
{
	margin:0px;
	padding:0px;
}
body
{
	position:fixed;
	height:100%;
	width:100%;
	left:0;
	top:0;
}
#head
{
	position:absolute;
	background-color:#ffffff;
	top:0%;
	height:25%;
	left:0%;
	width:100%;
}
#main
{
	position:absolute;
	background-color:#79afd7;
	top:25%;
	height:65%;
	left:0%;
	width:100%;
}
#footer
{
	position:absolute;
	background-color:#ffffff;
	height:10%;
	top:90%;
	width:100%;
	left:0%;
}
.conn
{
	opacity:0.8;
	cursor:pointer;
        -webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;

}
.conn:hover
{
	opacity:1;
        -webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;

}
.signUpText
{
	position:absolute;
	font-family:bmitra;
	font-size:3em;
	color:#ffffff;
	line-height:2.5em;
	right:0%;
}
.signUpLogo
{
	position:absolute;
	height:100%;
	left:0%;
	top:0%;
}
.innerSignUp
{
	position:absolute;
	height:80%;
	top:10%;
	left:5%;
	width:90%;
}
.toolbarText
{
	font-family:bmitra;
	font-size:1.2em;
}
.normalPanel
{
	position:absolute;
	height:200%;
	width:100%;
	top:0%;
        -webkit-transition: top 0.5s linear;
	-moz-transition: top 0.5s linear;
	-o-transition: top 0.5s linear;
	transition: top 0.5s linear;
}
.abnormalPanel
{
	position:absolute;
	height:200%;
	width:100%;
	top:-100%;
        -webkit-transition: top 0.5s linear;
	-moz-transition: top 0.5s linear;
	-o-transition: top 0.5s linear;
	transition: top 0.5s linear;
}
