<div class="page" dir="rtl">
  <div class="center">
    <p dir="rtl">
      سلام،
      <br/>
      شما در سایت هورین عضو شده‌اید و این ایمیل جهت تایید هویت
      شما می‌باشد. برای تایید روی لینک زیر کلیک کنید.
      <br/>
      <%= verificationUrl %>
      <br/>
      با تشکر،
    </p>
  </div>
</div>
